<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org">
<body>

    <div th:fragment="busCards(buses)" class="row row-cols-4 g-4">
        <div th:each="bus : ${buses}" th:insert="~{:: busCard(bus)}"></div>
        <div class="col" sec:authorize="isAuthenticated()">
            <a th:href="@{/bus/new}">
                <div class="card h-100 shadow">
                    <img src="https://img.freepik.com/premium-vector/question-mark-pattern-background-vector-illustration_34480-1425.jpg?semt=ais_hybrid&w=740" class="card-img-top object-fit-cover" alt="Add a new Bus">

                    <div class="card-header">
                            <h5 class="card-title">New</h5>
                    </div>
                </div>
            </a>
        </div>
    </div>

    <div th:fragment="busCard(bus)" class="col">
        <a th:href="@{/bus/details/{busLineNumber}(busLineNumber = ${bus.lineNumber})}">
            <div class="card h-100 shadow">
                    <img th:src="${bus.imageUrl}" class="card-img-top object-fit-cover" th:alt="|Image for bus line ${bus.lineNumber}|">

                <div class="card-header">
                        <h5 class="card-title" th:text="${bus.lineNumber}"></h5>
                </div>
            </div>
        </a>
    </div>

</body>
</html>