<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head th:replace="~{/fragments/general :: baseheader(~{:: title})}">
    <title>Bus Overview</title>
</head>
<body>
    <div th:replace="~{fragments/general :: navbar}"></div>

    <div class="container">
        <h1>Bus Overview</h1>

        <table>
            <tr>
                <th>Line Number</th>
                <th>Region</th>
                <th>Number of Seats</th>
                <th>Operating Routes</th>
                <th>Traveler Names</th>
                <th></th>
                <th></th>
            </tr>

            <tr th:each="bus : ${allBusses}">
                <td th:text="${bus.lineNumber}"></td>
                <td th:text="${bus.region}"></td>
                <td th:text="${bus.numberOfSeats}"></td>
                <td><span th:text="${bus.numberOfAvailableRoutes}"></span> / <span th:text="${bus.numberOfRoutes}"></span></td>
                <td th:text="${bus.travelerNames}"></td>
                <td><a th:href="@{/bus/delete/{busId}(busId = ${bus.busId})}">delete</a></td>
                <td><a th:href="@{/route/new/{busId}(busId = ${bus.busId})}">add new Route</a></td>
            </tr>
        </table>

        <a th:href="@{/bus/new}">Add new Bus</a>

    </div>

    <div th:replace="~{fragments/general :: footer}"></div>

    <div th:replace="~{fragments/general :: bottomScripts}"></div>

</body>
</html>