<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org">
<head th:replace="~{/fragments/general :: baseheader(~{:: title})}">
    <title>Replace this title</title>
</head>
<body>
<div th:replace="~{fragments/general :: navbar}"></div>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-4">
            <h1>Overview of all Travelers</h1>

            <table class="table table-striped shadow p-3 mb-5">
                <thead class="table-dark">
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="traveler : ${allTravelers}">
                        <td th:text="${traveler.name}"></td>
                        <td><a sec:authorize="isAuthenticated()" th:href="@{/traveler/delete/{travelerId}(travelerId = ${traveler.travelerId})}">Remove</a></td>
                    </tr>
                </tbody>
            </table>


            <form th:action="@{/traveler/save}" method="post" th:object="${formTraveler}" sec:authorize="isAuthenticated()">
                <input type="text" th:field="*{name}" placeholder="Add new Traveler">
                <input type="submit" value="save" />
            </form>

        </div>
    </div>
</div>

<div th:replace="~{fragments/general :: footer}"></div>

<div th:replace="~{fragments/general :: bottomScripts}"></div>

</body>
</html>
